<ion-header>
    <ion-toolbar>
        <ion-title>
            movie list
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item *ngFor="let item of movieList">
            <ion-label>{{item.Name}}</ion-label>
            <ion-label>{{item.Director}}</ion-label>
            <ion-label>{{item.Year}}</ion-label>
            <ion-label>{{item.Genre}}</ion-label>
            <ion-label>{{item.Notes}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>